.Footer1{
    background-color: #333333;
    align-items: left;
  }
  .panel {
    margin: 0px 300px 0 0;
    padding: 20px 25px 0px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: left;
    text-transform: uppercase;
    color: aliceblue;
  }
  .info-img {
    image-rendering: crisp-edges;
    margin-bottom: 12px;
    max-width: 40%;
  }
  .text {
    text-align: left;
    font-size: small;
    margin-top: 10px;
  }
  .text .p {
    position: absolute;
  }
  .cp {
    margin: 2px 300px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: x-small;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
  }
  .ss {
    margin: 70px 0 0 180px;
    
    font-size: 12px;
    text-align: left;
  }
  .fab{
    width: 80px;
    height: 80px;
  }
  #fac{
    color: #4267B2;
  }
  #fac2{
    color: #B9E0FF;
  }
  #fac3{
    color: #8a3ab9
  }
  #fac4{
    color: #0A66C2;
  }
  iframe{
    width : 20rem;
    height: 18rem;
    border-radius: 22%;
    position: absolute;
    right: 4rem;
  }
  /* ===================================  responsive*/
 
  @media (min-width: 900px) {
    .panel {
      flex-direction: row;
    }
    .info,
    .ss {
      padding: 25px 50px;
    }
  }
  @media screen and (min-width: 482px) and (max-width:821px){
    iframe{
      width : 44%;
      height: 48%;
      position: absolute;
      right: 0.6rem;
      bottom : 14.0rem;
     }
     .ss {
      margin: 2px 0 0 0px;
      text-align: center;
    }
    .info-img {
      max-width: 25%;
    }
    .cp {
      margin: 2px 20px;
      padding: 15px 5px;
    }
    .Footer1{
      margin-top: 0rem;
     }
  }
  @media screen and (min-width: 0px) and (max-width:480px){
    iframe
    {
      width: 70%;
      height: 30%;
      position: absolute;
      top: 18rem;
      left: 1rem;
    }
 .Footer1{
  margin-top: 50rem;
  width: 30rem;
  height: 40rem;
 }
 .info-img{
  width: 30%;
  position: relative;
  left: 5rem;
 }
 .ss{
  
  position: absolute;
  top: 32rem;
  left: 2.5rem;
  margin: 0;
  text-align: center;
  font-size: 50%;
 }
 .text p{
  position: absolute;
  left: 2.8rem;
  text-align: center;
 }
 .cc{
  position: absolute;
  right: 10rem;
  top: 39rem;
 }
    }  
  /* @media (min-width: 900px) {
    .panel {
      flex-direction: row;
    }
    .info,
    .ss {
      padding: 25px 50px;
    }
  }

  @media screen and (max-width:420px){
    iframe
    {
      width: 70%;
      height: 30%;
      position: absolute;
      top: 18rem;
      left: 1rem;
    }
 .Footer1{
  margin-top: 50rem;
  width: 30rem;
  height: 40rem;
 }
 .info-img{
  width: 30%;
  position: relative;
  left: 5rem;
 }
 .ss{
  
  position: absolute;
  top: 32rem;
  left: 2.5rem;
  margin: 0;
  text-align: center;
  font-size: 50%;
 }
 .text p{
  position: absolute;
  left: 2.8rem;
  text-align: center;
 }
 .cc{
  position: absolute;
  right: 10rem;
  top: 39rem;
 }
 }
  */